* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
:host {
    --md-sys-color-background: #10131a;
    --md-sys-color-on-background: #e0e2eb;
    --md-sys-color-surface: #10131a;
    --md-sys-color-surface-dim: #10131a;
    --md-sys-color-surface-bright: #363940;
    --md-sys-color-surface-container-lowest: #0b0e14;
    --md-sys-color-surface-container-low: #181c22;
    --md-sys-color-surface-container: #1c2026;
    --md-sys-color-surface-container-high: #272a31;
    --md-sys-color-surface-container-highest: #31353c;
    --md-sys-color-on-surface: #e0e2eb;
    --md-sys-color-surface-variant: #414753;
    --md-sys-color-on-surface-variant: #c1c6d5;
    --md-sys-color-inverse-surface: #e0e2eb;
    --md-sys-color-inverse-on-surface: #2d3037;
    --md-sys-color-outline: #8b919e;
    --md-sys-color-outline-variant: #414753;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #a6c8ff;
    --md-sys-color-primary: #a6c8ff;
    --md-sys-color-on-primary: #003060;
    --md-sys-color-primary-container: #0075d8;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #005fb0;
    --md-sys-color-secondary: #adc8f5;
    --md-sys-color-on-secondary: #133155;
    --md-sys-color-secondary-container: #254065;
    --md-sys-color-on-secondary-container: #bdd5ff;
    --md-sys-color-tertiary: #f0b0ff;
    --md-sys-color-on-tertiary: #54006d;
    --md-sys-color-tertiary-container: #a353bc;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--md-sys-color-background);
    font-family: "Roboto", sans-serif;
}

main {
    position: relative;
    display: block;
    max-inline-size: 1280px;
    margin-inline: auto;
}

h1.hero {
    display: block;
    text-align: center;
    margin-block-start: 100px;
}

search {
    max-inline-size: 800px;
    inset-block-start: 20px;
    position: sticky;
    margin: 40px auto;
    padding-inline: 20px;
    z-index: 2;
}

section {
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    gap: 20px;
    margin-block-end: 120px;
}

app-card {
    display: inline-block;
    inline-size: fit-content;
    margin: auto;
}

section:empty {
    position: relative;
    background-image: url(../assets/Space_empty_state.webp);
    block-size: 350px;
    margin-block-start: 50px;
    margin-block-end: 150px;
    inline-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

section:empty::after {
    content: "We searched the entire galaxy but couldn't find what you're looking for!";
    position: absolute;
    color: var(--md-sys-color-on-background);
    inset-inline-start: 50%;
    inset-block-end: -80px;
    inline-size: 100%;
    max-inline-size: 400px;
    font-size: 20px;
    text-align: center;
    translate: -50% 0;
}

header {
    position: fixed;
    display: block;
    inline-size: 100%;
    inset-block-start: 0;
    z-index: 2;
    background-color: var(--md-sys-color-background);
}

header md-icon-button {
    margin: 10px;
}

carousel-component,
app-details {
    padding: 20px;
    margin-block: 40px;
}